html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}

.hero{
    background-image: url(/proyects/developer_page_7SA/img/hero.jpg);
    background-repeat: no-repeat;
    /*cover cubre la imagen con todo el tamaño posible*/
    background-size: cover;
}